# Project files
.venv
image_build
tests
.pre-commit-config.yaml
docker-compose.yml
Dockerfile
LICENSE
pyproject.toml
README.md
requirements-dev.txt

# Other clutter
.DS_Store
.idea
.git
.github
.pytest_cache
.coverage
